body {
  background-color: #fefffe;
  color: #424761;
  font-family: "Poppins", sans-serif; }

ul {
  list-style: none;
  padding: 0;
  margin: 5px 5px; }

li {
  margin-top: .5rem; }

.bg-primario {
  background-color: #006BBB; }

.bg-secundario {
  background-color: #ffc872; }

.bg-terciario {
  background-color: #30a0e0; }

.bg-fondo {
  background-color: #fefffe; }

.color-primario {
  color: #006BBB; }

.color-secundario {
  color: #ffc872; }

.color-terciario {
  color: #30a0e0; }

.color-texto {
  color: #424761; }

.color-fondo {
  color: #fefffe; }

.redondeo {
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: transparent !important;
          box-shadow: transparent !important; }

.boton {
  background-color: #ffc872 !important;
  color: #fefffe;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.boton:hover {
  background-color: #fefffe !important;
  color: #ffc872;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

a,
a:hover {
  text-decoration: none;
  color: #fefffe; }

.logo-brand {
  max-width: 5% !important; }

div.rightcanvas {
  max-width: 50% !important; }

@media only screen and (max-width: 540px) {
  .logo-brand {
    max-width: 35% !important; } }
@media only screen and (max-width: 720px) {
  .logo-brand {
    max-width: 35% !important; } }
@media only screen and (max-width: 992px) {
  .logo-brand {
    max-width: 15% !important; } }
.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/img/menu.png") !important;
  border-color: transparent !important;
  border: none !important; }

.navbar-toggler:focus {
  border-color: transparent !important;
  border: none !important;
  -webkit-box-shadow: transparent !important;
          box-shadow: transparent !important; }

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  border: none !important; }

.navbar-light .navbar-nav .nav-link {
  color: #424761 !important; }

.dropdown-menu {
  border: 0px solid transparent !important; }

.dropdown-item {
  color: #006BBB !important; }

.btn-close {
  background-image: url("/assets/img/close.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  display: inline-block !important; }

.hero1 {
  height: 80vh;
  background-image: url("/assets/img/hero/hero1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial; }

.hero2 {
  height: 80vh;
  background-image: url("/assets/img/hero/hero2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial; }

.hero3 {
  height: 80vh;
  background-image: url("/assets/img/hero/hero3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial; }

.bg-hero {
  height: 650px; }

.bg-head {
  background-color: rgba(254, 255, 254, 0.6); }

.marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Put a card in the next row when previous cards take all width */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px; }

.marcas__item {
  /* There will be 4 cards per row */
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-left: 8px;
  padding-right: 8px; }

.banner {
  overflow: hidden; }

.banner-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scroll 25s linear infinite;
          animation: scroll 25s linear infinite; }

.banner-items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16vw;
          flex: 0 0 16vw;
  margin: 0 1vw; }

.banner-items img {
  display: block;
  width: 100%; }

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-216vw);
            transform: translateX(-216vw); } }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-216vw);
            transform: translateX(-216vw); } }
.servicio {
  position: relative; }

.postit {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #fefffe;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 5px 20px;
  min-height: 50%;
  width: 90%;
  max-width: 90%; }

@media only screen and (min-width: 992px) {
  .postit {
    min-height: 45%;
    padding: 2px 20px;
    overflow: auto; } }
.subrayado {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc872), to(#ffc872));
  background-image: linear-gradient(to right, #ffc872, #ffc872);
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 10px 10px;
  background-size: 60% 5px;
  -webkit-transition: background-size 0.5s ease;
  transition: background-size 0.5s ease;
  height: auto; }

.imagen-servicios {
  -webkit-transition: visibility .5s linear,opacity .5s linear;
  transition: visibility .5s linear,opacity .5s linear; }

.gradiante:hover {
  -webkit-animation: gradient .5s ease 0s 1;
  animation: gradient .5s ease 0s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .gradiante:hover img {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .5s linear,opacity .5s linear;
    transition: visibility .5s linear,opacity .5s linear; }

@keyframes gradient {
  to {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffc872), to(#006bbb));
    background: linear-gradient(0deg, #ffc872 0%, #006bbb 100%); }
  from {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffc872), to(#006bbb));
    background: linear-gradient(0deg, #ffc872 0%, #006bbb 100%); } }
@-webkit-keyframes gradient {
  to {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffc872), to(#006bbb));
    background: linear-gradient(0deg, #ffc872 0%, #006bbb 100%); }
  from {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffc872), to(#006bbb));
    background: linear-gradient(0deg, #ffc872 0%, #006bbb 100%); } }
.bg-faqs {
  padding-bottom: 100px;
  border-bottom-left-radius: 60% 40%;
  border-bottom-right-radius: 100% 0%;
  border-top-left-radius: 100% 0%;
  border-top-right-radius: 60% 40%; }

@media only screen and (max-width: 540px) {
  .bg-faqs {
    border-bottom-left-radius: 95% 5%;
    border-top-right-radius: 95% 5%; } }
.footer-logo {
  width: 150px !important; }

.mapa-footer {
  width: 250px !important;
  height: 250px !important; }

.flotante {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9999;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%); }

.div-flotante {
  max-width: 150px !important;
  max-height: auto !important;
  border-radius: 10px 0px 0px 10px;
  text-align: center; }

.whatsapp {
  color: #25d366 !important; }

.facebook {
  color: #3b5998 !important; }

#topscroll {
  display: inline-block;
  background-color: #ffc872;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }

#topscroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fefffe; }

#topscroll:hover {
  cursor: pointer;
  background-color: #30a0e0; }

#topscroll:active {
  background-color: #30a0e0; }

#topscroll.show {
  opacity: 1;
  visibility: visible; }

.hero1lavadoras {
  height: 40vh;
  background-image: url("/assets/img/lavadora/lavadora.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial; }

.bg-hero-lavadoras {
  height: 450px; }

ul li.marca::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem; }

.hero1refrigerador {
  height: 40vh;
  background-image: url("/assets/img/refrigerador/refrigerador.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial; }

.bg-hero-refrigerador {
  height: 450px; }

ul li.marca::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem; }

.hero1aire {
  height: 40vh;
  background-image: url("/assets/img/acondicionado/aire.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial; }

.hero2aire {
  height: 40vh;
  background-image: url("/assets/img/acondicionado/mini.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: initial; }

.bg-hero-aire {
  height: 450px; }

ul li.marca::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem; }

.hero1lavavajilla {
  height: 40vh;
  background-image: url("/assets/img/lavavajillas/lavavajillas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial; }

.hero2lavavajilla {
  height: 40vh;
  background-image: url("/assets/img/lavavajillas/estufa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial; }

.bg-hero-lavavajilla {
  height: 450px; }

ul li.marca::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem; }

/*# sourceMappingURL=estilos.css.map */