//---------------------------------------
// PATRONES DE COLORES
//---------------------------------------

$primario: #006BBB;
$secundario: #ffc872;
$terciario: #30a0e0;
$fondo: #fefffe;
$texto: #424761;




//---------------------------------------
// ESTILOS BODY
//---------------------------------------

body {
  background-color: $fondo;
  color: $texto;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0; 
  margin: 5px 5px; 
}

li{
  margin-top: .5rem;
}

.bg-primario {
  background-color: $primario;
}
.bg-secundario {
  background-color: $secundario;
}
.bg-terciario {
  background-color: $terciario;
}
.bg-fondo {
  background-color: $fondo;
}
.color-primario {
  color: $primario;
}
.color-secundario {
  color: $secundario;
}
.color-terciario {
  color: $terciario;
}
.color-texto {
  color: $texto;
}
.color-fondo {
  color: $fondo;
}
.redondeo {
  border-radius: 15px;
  border: none;
  box-shadow: transparent !important;
}
[type=button], [type=reset], [type=submit], button{
  -webkit-appearance: button-bevel;
}


.boton {
  background-color: $secundario !important;
  color: $fondo;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out 0s;
}

.boton:hover {
  background-color: $fondo !important;
  color: $secundario;
  transition: all 0.3s ease-in-out 0s;
}

a,
a:hover {
  text-decoration: none;
  color: $fondo;
}

//---------------------------------------
// Navbar
//---------------------------------------

.font-nav{
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.3rem;
  font-weight: bold;
  color: $primario!important;
}

.logo-brand {
  width: 7% !important;
}

div.rightcanvas{
  max-width: 60% !important;
}

@media only screen and (max-width: 992px) {
  .logo-brand {
    min-width: 15% !important;
  }

}


@media only screen and(max-width: 540px) {
  .logo-brand {
    min-width: 20% !important;
  }
}





.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/img/menu.png") !important;
  border-color: transparent !important;
  border: none !important;
}

.navbar-toggler:focus {
  border-color: transparent !important;
  border: none !important;
  box-shadow: transparent !important;
}

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  border: none !important;
}
.navbar-light .navbar-nav .nav-link {
  color: $texto!important;
}


.dropdown-menu {
  border: 0px solid transparent!important;
}
.dropdown-item{
  color: $primario!important;
}

.btn-close {
  background-image: url("/assets/img/close.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  display: inline-block !important;
}

.navtop{
    position: fixed!important;
    right: 0!important;
    left: 0!important;
    z-index: 1030!important;
    transition: top .3s !important; 

}





//---------------------------------------
// Sección 1 Hero
//---------------------------------------

.hero1 {
  height: 80vh;
  background-image: url("/assets/img/hero/hero1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

.hero2 {
  height: 80vh;
  background-image: url("/assets/img/hero/hero2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

.hero3 {
  height: 80vh;
  background-image: url("/assets/img/hero/hero3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

.bg-hero {
  height: 650px;
}
.bg-head{
background-color: rgba($color: $fondo, $alpha: 0.6);
}
//---------------------------------------
// Sección 3 Marcas -- Red
//---------------------------------------
.marcas {
  display: flex;

  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;

  margin-left: -8px;
  margin-right: -8px;
}

.marcas__item {
  /* There will be 4 cards per row */
  flex-basis: 25%;

  padding-left: 8px;
  padding-right: 8px;
}

//---------------------------------------
// Sección 3 Marcas -- Banner
//---------------------------------------

.banner {
  overflow: hidden;
}

.banner-contenedor {
  display: flex;
  animation: scroll 25s linear infinite;
}

.banner-items {
  flex: 0 0 16vw;
  margin: 0 1vw;
}

.banner-items img {
  display: block;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  //---------------------------------------
  // Regla para el vw al 100%
  // a) Cuantos elemetos hay en el banner  Ejemplo   12 Elementos
  // b) Multiplican los elementos del banner X 2   Ejemplo    12 X 2 = 24
  // c) El resultado se multiplica pX -9    Ejemplo    24 X  -9 =  216
  //-------

  100% {
    transform: translateX(-216vw);
  }
}

//---------------------------------------
// Sección 4 Servicios
//---------------------------------------

.servicio {
  position: relative;
}

.postit {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: $primario;
  background-color: rgba($color: $fondo, $alpha: 0.6);
  border-radius: 15px;
  padding: 5px 20px;
  min-height: 50%;
  width: 90%;
  max-width: 90%;
}

@media only screen and (min-width: 992px) {
  .postit {
    height: 50%;
    max-height: 50%;
    padding: 2px 20px;
    overflow: auto;
  }
}

.subrayado {
  background-image: linear-gradient(to right, $secundario, $secundario);
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 10px 10px;
  background-size: 60% 5px;
  transition: background-size 0.5s ease;
  height: auto;
}

.imagen-servicios{
  transition:visibility .5s linear,opacity .5s linear;
}
.gradiante:hover{
  img{
    visibility: hidden;
    opacity:0;
    transition:visibility .5s linear,opacity .5s linear;
  }
  -webkit-animation: gradient .5s ease 0s 1;
  animation: gradient .5s ease 0s 1;
  animation-fill-mode: forwards;

}

@keyframes gradient {
  to {
    background: linear-gradient(0deg, rgba(255,200,114,1) 0%, rgba(0,107,187,1) 100%);
  }

 
  from {
    background: linear-gradient(0deg, rgba(255,200,114,1) 0%, rgba(0,107,187,1) 100%);
  }
}
@-webkit-keyframes gradient {
  to {
    background: linear-gradient(0deg, rgba(255,200,114,1) 0%, rgba(0,107,187,1) 100%);
  }

 
  from {
    background: linear-gradient(0deg, rgba(255,200,114,1) 0%, rgba(0,107,187,1) 100%);
  }
}

//---------------------------------------
// Sección Faqs
//---------------------------------------

.bg-faqs {
  padding-bottom: 100px;
  border-bottom-left-radius: 60% 40%;
  border-bottom-right-radius: 100% 0%;
  border-top-left-radius: 100% 0%;
  border-top-right-radius: 60% 40%;
  
}


@media only screen and (max-width: 540px) {
  .bg-faqs  {
    border-bottom-left-radius: 95% 5%;
    border-top-right-radius: 95% 5%;
  }
}


//---------------------------------------
// Sección Footer
//---------------------------------------

.footer-logo {
  width: 150px !important;
}

.mapa-footer {
  width: 250px !important;
  height: 250px !important;
}

//---------------------------------------
// Sección Flotante
//---------------------------------------


.flotante{
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9999;
  transform: translate(0px, -50%);
  
}

.logo-flotante {
  max-width: 75px !important;

}

.div-flotante{
  max-width: 150px!important;
  max-height: auto!important;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
}



.whatsapp{
  color:#25d366!important; 
}

.facebook{
  color:#3b5998!important; 
}

//---------------------------------------
// Sección Top Scroll
//---------------------------------------

#topscroll {
  display: inline-block;
  background-color: $secundario;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#topscroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: $fondo;
}
#topscroll:hover {
  cursor: pointer;
  background-color: $terciario;
}
#topscroll:active {
  background-color: $terciario;
}
#topscroll.show {
  opacity: 1;
  visibility: visible;
}




//---------------------------------------
// Sección 1 Hero - Lavadoras
//---------------------------------------

.hero1lavadoras {
  height: 40vh;
  background-image: url("/assets/img/lavadora/lavadora.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

.bg-hero-lavadoras {
  height: 450px;
}

ul li.marca::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
}


//---------------------------------------
// Sección 1 Hero - Refrigeradores
//---------------------------------------

.hero1refrigerador {
  height: 40vh;
  background-image: url("/assets/img/refrigerador/refrigerador.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

.bg-hero-refrigerador {
  height: 450px;
}

ul li.marca::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
}

//---------------------------------------
// Sección 1 Hero - Aire
//---------------------------------------

.hero1aire {
  height: 40vh;
  background-image: url("/assets/img/acondicionado/aire.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

.hero2aire {
  height: 40vh;
  background-image: url("/assets/img/acondicionado/mini.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: initial;
}

.bg-hero-aire {
  height: 450px;
}

ul li.marca::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
}



//---------------------------------------
// Sección 1 Hero - Lavavajillas
//---------------------------------------

.hero1lavavajilla {
  height: 40vh;
  background-image: url("/assets/img/lavavajillas/lavavajillas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

.hero2lavavajilla {
  height: 40vh;
  background-image: url("/assets/img/lavavajillas/estufa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: initial;
}

.bg-hero-lavavajilla {
  height: 450px;
}

ul li.marca::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
}